#api_status {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	background-color: #cccccc;
	border-radius: 50%;
}

.available {
	background-color: #ff545f;
}
